.title {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.left {
    width: 40vw;
    padding: 20px;
}

.right {
    width: 60vw;
    padding: 10px;
}